<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebStoreDemo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" asp-action="Index" asp-controller="Home">
            Web Store Demo
        </a>

        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebStoreDemo</p>
        </footer>
    </div>

    
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
